
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    // Path for user avatars
    match /avatars/{userId} {
      // Anyone can read avatars
      allow read;
      // Only the owner can write (create, update, delete) their own avatar
      allow write: if request.auth.uid == userId;
    }

    // Path for user cover photos
    match /covers/{userId} {
      // Anyone can read cover photos
      allow read;
      // Only the owner can write their own cover photo
      allow write: if request.auth.uid == userId;
    }

    // Path for images uploaded with posts
    match /posts/{userId}/{fileName} {
       // Anyone can read post images
      allow read;
       // Only an authenticated user can upload an image, and it must be linked to their own userId
      allow write: if request.auth.uid == userId;
    }
  }
}
